*{
    box-sizing: border-box;
}

body{
    background-color: rgb(202, 202, 202);

    position: relative;
}

section{
    width: 70%;
    height: 30%;

    position: absolute;
    left: 15%;
}

p{
    margin-bottom: 0;
    font-family: "ArialBold";
    font-weight: 200;
    font-size: 10px;

    color: gray;
}

.head{
    margin-left: 3% ;
    font-family: "ArialRegular";
    font-weight: 800;
    font-size: 18px;

    color: black;
}

.star{
    margin: 0;
    margin-left: 3%;
}

a:link{
    margin: 1%;
    margin-left: 2%;
    font-family: "ArialRegular";
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;

    color: black;
}

a:hover{
    text-decoration:underline;
}

div{
    display: flex;
    border-radius: 6px;

    background-color: rgb(223, 223, 223);

    flex-direction:row;
    justify-content:center;
    align-items:center;

    /*flex-wrap: wrap;*/

    margin: 5px 5px 5px 5px;

    height: calc(100vw * 0.24);

    min-width: 760px;
    min-height: 310px;
}

div>div{
    display:inline-block;
    margin: 0;
    position: relative;

    border-left: 1px solid rgba(0, 0, 0, 0.250);
    border-right: 1px solid rgba(0, 0, 0, 0.250);
    border-radius: 5px;

    background-color: white;

    width: 19.6%;
    height: 94%;

    min-width: 150px;
    min-height: 300px;
    left:0;

    z-index: 0;
}

div:first-child{
    border-left: none;
}

div:last-child{
    border-right: none;
}

section>div>div:hover{
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.541);
    z-index: 2;
}

.img{
    /*position: absolute;*/
    left: 0px;

    width: 90%;
    height: 50%;

    min-height: 0;
    min-width: 0;

    margin: 3% 5%;
    border: none;
}

img{
    border-radius: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: 10%, 10%;
}

img[src="./img/ico_knife.png"]{
    object-fit: cover;
    opacity: 0.95;

    position: absolute;
    right: 7%;
    top: 9%;

    width: 23%;
    height: calc(100vw * 0.031);
    border: 1px solid rgba(128, 128, 128, 0.849);

    min-height: 34px;
    min-width: 34px;

    border-radius: 30%;
    transition: all 0.3s linear;
}

img[src="./img/ico_knife.png"]:hover{
    opacity: 1;
    border: 3px solid rgb(255, 166, 0);
}

.price{
    margin-left: 3%;
    margin-right: 5%;
    display:grid;
    position: relative;
}

.price:before{
    content: "1588";
    margin: 3%;
    text-decoration:line-through;
    margin-bottom: 0;
    font-family: "ArialRegular";
    font-weight: 100;
    font-size: 12px;
    color: gray;
    /*display:grid;*/
}

.price>p{
    margin: 0;
    font-family: "ArialBold" sans-serif;
    font-weight: 600;
    font-size: 140%;

    color: black;
}

.carts{
    position: absolute;
    border-radius: 10%;
    width: 30%;
    height: calc(100vw * 0.035);
    margin: 0;
    right: 0;
    top:0;

    background: darkgreen;
    transition: all 0.5s linear;
    min-height: 41px;
    min-width: 41px;
}

.carts:hover{
    background: rgb(255, 166, 0);
}