@font-face{
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");

    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");

    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "OpenSans-LightItalic";
    src: url("../fonts/OpenSansCondensed-LightItalic.ttf") format("truetype");

    font-style: normal;
    font-weight: normal;
}